In [2]:
import warnings
import numpy as np
import pandas as pd
import plotly.express as px

In [42]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')


train = train.drop(['Cabin'], axis=1)
test = test.drop(['Cabin'], axis=1)

train = train.drop(['Ticket'], axis=1)
test = test.drop(['Ticket'], axis=1)

# replacing the missing values in 
# the Embarked feature with S
train = train.fillna({"Embarked": "S"})

# sort the ages into logical categories
train["Age"] = train["Age"].fillna(-0.5)
test["Age"] = test["Age"].fillna(-0.5)
bins = [-1, 0, 5, 12, 18, 24, 35, 60, np.inf]
labels = ['Unknown', 'Baby', 'Child', 'Teenager',
          'Student', 'Young Adult', 'Adult', 'Senior']
train['AgeGroup'] = pd.cut(train["Age"], bins, labels=labels)
test['AgeGroup'] = pd.cut(test["Age"], bins, labels=labels)

# create a combined group of both datasets
combine = [train, test]

# extract a title for each Name in the 
# train and test datasets
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(r' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train['Title'], train['Sex'])

# replace various titles with more common names
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Capt', 'Col',
                                                 'Don', 'Dr', 'Major',
                                                 'Rev', 'Jonkheer', 'Dona'],
                                                'Rare')

    dataset['Title'] = dataset['Title'].replace(
        ['Countess', 'Lady', 'Sir'], 'Royal')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

# map each of the title groups to a numerical value
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3,
                 "Master": 4, "Royal": 5, "Rare": 6}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

mr_age = train[train["Title"] == 1]["AgeGroup"].mode()  # Young Adult
miss_age = train[train["Title"] == 2]["AgeGroup"].mode()  # Student
mrs_age = train[train["Title"] == 3]["AgeGroup"].mode()  # Adult
master_age = train[train["Title"] == 4]["AgeGroup"].mode()  # Baby
royal_age = train[train["Title"] == 5]["AgeGroup"].mode()  # Adult
rare_age = train[train["Title"] == 6]["AgeGroup"].mode()  # Adult

age_title_mapping = {1: "Young Adult", 2: "Student",
                     3: "Adult", 4: "Baby", 5: "Adult", 6: "Adult"}

for x in range(len(train["AgeGroup"])):
    if train["AgeGroup"][x] == "Unknown":
        #train["AgeGroup"][x] = age_title_mapping[train["Title"][x]]
        train.loc[x, "AgeGroup"] = age_title_mapping[train["Title"][x]]

for x in range(len(test["AgeGroup"])):
    if test["AgeGroup"][x] == "Unknown":
        #test["AgeGroup"][x] = age_title_mapping[test["Title"][x]]
        test.loc[x, "AgeGroup"] = age_title_mapping[test["Title"][x]]

# map each Age value to a numerical value
age_mapping = {'Baby': 1, 'Child': 2, 'Teenager': 3,
               'Student': 4, 'Young Adult': 5, 'Adult': 6, 
               'Senior': 7}
train['AgeGroup'] = train['AgeGroup'].map(age_mapping)
test['AgeGroup'] = test['AgeGroup'].map(age_mapping)

train.head()

# dropping the Age feature for now, might change
train = train.drop(['Age'], axis=1)
test = test.drop(['Age'], axis=1)

train = train.drop(['Name'], axis=1)
test = test.drop(['Name'], axis=1)

sex_mapping = {"male": 0, "female": 1}
train['Sex'] = train['Sex'].map(sex_mapping)
test['Sex'] = test['Sex'].map(sex_mapping)

embarked_mapping = {"S": 1, "C": 2, "Q": 3}
train['Embarked'] = train['Embarked'].map(embarked_mapping)
test['Embarked'] = test['Embarked'].map(embarked_mapping)

for x in range(len(test["Fare"])):
    if pd.isnull(test["Fare"][x]):
        pclass = test["Pclass"][x]  # Pclass = 3
        test.loc[x, "Fare"] = round(
            train[train["Pclass"] == pclass]["Fare"].mean(), 4)

# map Fare values into groups of 
# numerical values
train['FareBand'] = pd.qcut(train['Fare'], 4, 
                            labels=[1, 2, 3, 4])
test['FareBand'] = pd.qcut(test['Fare'], 4, 
                           labels=[1, 2, 3, 4])

# drop Fare values
train = train.drop(['Fare'], axis=1)
test = test.drop(['Fare'], axis=1)

print(train)

print(test)


# Gets rid on non quantitative data for the model.

     PassengerId  Survived  Pclass  Sex  SibSp  Parch  Embarked  AgeGroup  \
0              1         0       3    0      1      0         1       4.0
1              2         1       1    1      1      0         2       6.0
2              3         1       3    1      0      0         1       5.0
3              4         1       1    1      1      0         1       5.0
4              5         0       3    0      0      0         1       5.0
..           ...       ...     ...  ...    ...    ...       ...       ...
886          887         0       2    0      0      0         1       5.0
887          888         1       1    1      0      0         1       4.0
888          889         0       3    1      1      2         1       4.0
889          890         1       1    0      0      0         2       5.0
890          891         0       3    0      0      0         3       5.0

     Title FareBand
0        1        1
1        3        4
2        2        2
3        3        4
4        1        2
..     ...      ...
886      6        2
887      2        3
888      2        3
889      1        3
890      1        1

[891 rows x 10 columns]
     PassengerId  Pclass  Sex  SibSp  Parch  Embarked  AgeGroup  Title  \
0            892       3    0      0      0         3       5.0      1
1            893       3    1      1      0         1       6.0      3
2            894       2    0      0      0         3       7.0      1
3            895       3    0      0      0         1       5.0      1
4            896       3    1      1      1         1       4.0      3
..           ...     ...  ...    ...    ...       ...       ...    ...
413         1305       3    0      0      0         1       5.0      1
414         1306       1    1      0      0         2       6.0      6
415         1307       3    0      0      0         1       6.0      1
416         1308       3    0      0      0         1       5.0      1
417         1309       3    0      1      1         2       1.0      4

    FareBand
0          1
1          1
2          2
3          2
4          2
..       ...
413        2
414        4
415        1
416        2
417        3

[418 rows x 9 columns]

In [ ]:
from sklearn.model_selection import train_test_split

predictors = train.drop(['Survived', 'PassengerId'], axis=1)
target = train["Survived"]

x_train, x_val, y_train, y_val = train_test_split(
    predictors, target, test_size=0.2, random_state=0)

x_val

     Pclass  Sex  SibSp  Parch  Embarked  AgeGroup  Title FareBand
495       3    0      0      0         2       5.0      1        3
648       3    0      0      0         1       5.0      1        1
278       3    0      4      1         3       2.0      4        3
31        1    1      1      0         2       6.0      3        4
255       3    1      0      2         2       5.0      3        3
..      ...  ...    ...    ...       ...       ...    ...      ...
780       3    1      0      0         2       3.0      2        1
837       3    0      0      0         1       5.0      1        2
215       1    1      1      0         2       5.0      2        4
833       3    0      0      0         1       4.0      1        1
372       3    0      0      0         1       4.0      1        2

[179 rows x 8 columns]

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

randomforest = RandomForestClassifier()

# Fit the training data along with its output
randomforest.fit(x_train, y_train)

y_pred = randomforest.predict(x_val)

# Find the accuracy score of the model
acc_randomforest = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_randomforest)

83.24